body {
	background-color: gray;
	color: white;
	border: 1px black solid;
	margin: 40px;
	padding: 40px;
}

header {
	font-style: italic;
	text-align: center;
}

nav {
	margin-bottom: 20px;
}

a {
	color: #6ACC9C;
	font-style: normal;
}

div {
	float: right;
}	

img {
	margin: 0px 15px 15px 15px;
}

ul {
	list-style-type: square;
}

footer {
	text-align: center;
	font-style: bold;
	margin-top: 20px;
}